/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

  ul.entries-columns { margin: 0; padding: 6px;}

  body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 {
      /*background-image: url("../img/bgid.jpg");*/
      background-repeat: no-repeat;
      background-position: center top;
      background-attachment: fixed;
      background-size: cover;
      -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  #container {
	  max-width: 800px; 
	  margin: 0 auto;
  }
  img.center {
  	  display: block;
      margin: 0 auto;
  }
  .bg-3{
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .bg-5 {
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 0px;
      padding-bottom: 0px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #bc1a3a !important;
  }
  a:hover, a:active, a:focus {
  outline: 0;
  }	
  .iphone{
      border: 0;
      width: 778px;
      height: 374px;
  }
   .iphone1{
      background-image: url("../img/iphone_01.png");
      width: 102px;
      height: 26px;
  }
   .iphone2{
      background-image: url("../img/iphone_02.gif");
      width: 574px;
      height: 26px;
  }
   .iphone3{
      background-image: url("../img/iphone_03.gif");
      width: 102px;
      height: 26px;
  }
   .iphone4{
      background-image: url("../img/iphone_04.gif");
      width: 102px;
      height: 326px;
  }
   .iphone5{
      background-image: url("../img/iphone_05.gif");
      background-color: #ffffff; /* White */
      width: 574px;
      height: 326px;
  }
   .iphone6{
      background-image: url("../img/iphone_06.gif");
      width: 102px;
      height: 326px;
  }
   .iphone7{
      background-image: url("../img/iphone_07.gif");
      width: 102px;
      height: 22px;
  }
   .iphone8{
      background-image: url("../img/iphone_08.gif");
      width: 574px;
      height: 22px;
  }
   .iphone9{
      background-image: url("../img/iphone_09.gif");
      width: 102px;
      height: 22px;
  }
  
  /*preload*/
.spinner {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*@media screen and (max-width: 768px) {
  .bg-1 {
      background-image: url("../img/bgid_s.jpg") !important;
  }
}
@media screen and (max-width: 480px) {
  .bg-1 {
      background-image: url("../img/bgid_ss.jpg") !important;
  }
}*/
