@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot")/*tpa=http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot*/;
  src: local('Open Sans'), local('OpenSans'), url("cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot")/*tpa=http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot*/ format('embedded-opentype'), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff")/*tpa=http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff*/ format('woff');
}
