@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: url("rT9jpj7pBpZV6AmssbZKk1QlYEbsez9cZjKsNMjLOwM.eot")/*tpa=http://themes.googleusercontent.com/static/fonts/adventpro/v2/rT9jpj7pBpZV6AmssbZKk1QlYEbsez9cZjKsNMjLOwM.eot*/;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url("rT9jpj7pBpZV6AmssbZKk1QlYEbsez9cZjKsNMjLOwM.eot")/*tpa=http://themes.googleusercontent.com/static/fonts/adventpro/v2/rT9jpj7pBpZV6AmssbZKk1QlYEbsez9cZjKsNMjLOwM.eot*/ format('embedded-opentype'), url("rT9jpj7pBpZV6AmssbZKkxsxEYwM7FgeyaSgU71cLG0.woff")/*tpa=http://themes.googleusercontent.com/static/fonts/adventpro/v2/rT9jpj7pBpZV6AmssbZKkxsxEYwM7FgeyaSgU71cLG0.woff*/ format('woff');
}
