
@font-face {
	font-family: 'Note this';
	src: url("regular.eot")/*tpa=http://cdn1.editmysite.com/editor/fonts/Note_this/regular.eot*/;
	src: url("regular.eot-")/*tpa=http://cdn1.editmysite.com/editor/fonts/Note_this/regular.eot?*/ format('embedded-opentype'),
	     url("regular.ttf")/*tpa=http://cdn1.editmysite.com/editor/fonts/Note_this/regular.ttf*/ format('truetype');
}
